body{

}
header{
    margin: 0;
    background:no-repeat fixed;
    background-position: top center;
    background-size: contain;
    background-image: url('/static/main/img/gradient.jpeg');
    height: 100px;

    border-bottom: darkblue solid 3px;
}

header img{
    position: relative;
    left: 20%;
}
header h3{
    width: max-content;
    color: #2A33E5;
    text-transform: uppercase;
    font-size: 52px;
    line-height: 60px;
    text-align: center;

    margin: 0;
    margin-left: 45%;

    text-shadow: black 1px 1px 0, black -1px -1px 0,
                 black -1px 1px 0, black 1px -1px 0;
}

header .login-ic{
    left: 96%;
}

aside{
    float: top;
    background: #EAE6AF;
    width: 100%;
    padding: -2.5%;
    height: 5%;

    border-bottom: darkblue solid 3px;
}

aside ul.Pages{
    list-style: none;
    text-align: center;
}

aside a{
    font-size: 30px;

    color: black;
    margin-top: 15px;
    text-decoration: none;
    transition: all .6s ease;
}

aside ul li{
    display: inline-block;
    padding: 2%;
}

aside ul li:hover, aside ul a:hover{
    color:red;
    transform: scale(1.05);
}

aside h1.navig {
    width: max-content;
    text-transform: uppercase;
    line-height: 60px;
    text-align: center;

    margin-left: 43%;

}

.main-vid{
    text-transform: uppercase;
    line-height: 50px;
    text-align: center;
}

.new-video .video-column ul li{
    display: flex;
    margin-left: 30%;

}

.new-video ul h3{
    text-align: center;
}
.Video-prew p i {
    line-height: 20px;
    text-align: center;
}
.attention mark{
    color: red;
    text-transform: uppercase;
    line-height: 40px;
    background-color: yellow;
}

.log-form{
    width: 30%;
    position: relative;
    left: 35%;
}

.alert-message .error{
    text-align: center;
    color: #E74E36;
    background-color:  #C4E5E3;
    width: 30%;
    position: relative;
    left: 35%;
}
