body{

}
header{
    margin: 0;
    background:no-repeat fixed;
    background-position: top center;
    background-size: contain;
    background-image: url('/static/main/img/gradient.jpeg');
    height: 100px;

    border-bottom: darkblue solid 3px;
}

header img{
    position: relative;
    left: 20%;
}
header h3{
    width: max-content;
    color: #2A33E5;
    text-transform: uppercase;
    font-size: 52px;
    line-height: 60px;
    text-align: center;

    margin: 0;
    margin-left: 45%;

    text-shadow: black 1px 1px 0, black -1px -1px 0,
                 black -1px 1px 0, black 1px -1px 0;
}

header .login-ic{
    left: 96%;
}

aside{
    float: top;
    background: #EAE6AF;
    width: 100%;
    padding: -2.5%;
    height: 5%;

    border-bottom: darkblue solid 3px;
}

aside ul.Pages{
    list-style: none;
    text-align: center;
}

aside a{
    font-size: 30px;

    color: black;
    margin-top: 15px;
    text-decoration: none;
    transition: all .6s ease;
}

aside ul li{
    display: inline-block;
    padding: 2%;
}

aside ul li:hover, aside ul a:hover{
    color:red;
    transform: scale(1.05);
}

aside h1.navig {
    width: max-content;
    text-transform: uppercase;
    line-height: 60px;
    text-align: center;

    margin-left: 43%;

}

.main-vid{
    text-transform: uppercase;
    line-height: 52px;
    text-align: center;
}

.new-video ul h3{
    text-align: center;
}
.Video-prew p i {
    line-height: 20px;
    text-align: center;
}
.attention mark{
    color: red;
    text-transform: uppercase;
    line-height: 40px;
    background-color: yellow;
}

.log-form{
    width: 30%;
    position: relative;
    left: 35%;
}

.reg-form{
    width: 80%;
    height: 80%;
    position: relative;
    left: 30%;
}

.alert-message .error{
    text-align: center;
    color: #E74E36;
    background-color:  #C4E5E3;
    width: 30%;
    position: relative;
    left: 35%;
    font-size: 20px;
}

.vid{
    display: flex;
    margin-left: 16%;
}

.vid-single{
    display: flex;
    margin-left: 23%;
}

.unknown-attention{
    text-align: center;
    color: #F75E20;
    text-transform: uppercase;
    font-size: 60px;
}

.descript-vid{
    text-align: center;
    margin-right: 4%;
}

.vid-item{
    list-style: none;
    margin-bottom: 25px;
    padding: 25px;
}

.name-vid{
    text-align: center;
    margin-right: 5%;
    font-size: 40px;
    text-decoration: underline;
}

.grades p{
    margin: 0;
    text-align: center;
}

.grades button{
    border: 0;
}

.regist-link{
    text-align: center;
    padding: 15px;
}

/*.error-reg {*/
/*    margin-left: 40%;*/
/*    font-size: 20px;*/
/*    color: #68071D;*/
/*    background-color: #F6C9D3;*/
/*    width: max-content;*/
/*}*/

.Video-prew form{
    justify-content:center;
    align-items:center;
    margin: 10px;
}