{% extends 'main/main.html' %}

{% block content %}
    {% if messages %}
        {%  for message in messages %}
            <div class="alert-message" role="alert">
                <p class="error">
                {{ message }}
                </p>
            </div>
        {% endfor %}
    {% endif %}
    {% if user.is_authenticated %}
    <form id="video-upload"  enctype="multipart/form-data" action="{% url 'uploadVideo' %}" method="POST">
    {% csrf_token %}
    <div>
        <label for="title"> Введите название видео</label>
          <input type="text" id="title" placeholder="Котики" name="videoеTitle" required>
          <p>
              <input type="reset" value="Очистить" form="video_form">
          </p>
    </div>
{#      <div>#}
{#          <label for="url"> Введите URL видео</label>#}
{#          <input type="text" pattern="[Hh][Tt][Tt][Pp][Ss]?:\/\/(?:(?:[a-zA-Z\u00a1-\uffff0-9]+-?)*[a-zA-Z\u00a1-\uffff0-9]+)(?:\.(?:[a-zA-Z\u00a1-\uffff0-9]+-?)*[a-zA-Z\u00a1-\uffff0-9]+)*(?:\.(?:[a-zA-Z\u00a1-\uffff]{2,}))(?::\d{2,5})?(?:\/[^\s]*)?"#}
{#                 id="url" placeholder="https://www.youtube.com/watch?" name="videoURL">#}
{#          <p>#}
{#              <input type="reset" value="Очистить" form="video_form">#}
{#          </p>#}
{#      </div>#}
{#        <h5>ИЛИ</h5>#}
        <div>
            <label for="file">Загрузите файл</label>
            <br>
            <strong><p>Не более 250 MB</p></strong>
            <input type="file" id="file-video" accept="video/*" name="video">
        </div>
{#         <strong><p>При указании двух разных источников видео, приоритет будет отдан url ссылке!</p></strong>#}
        <button id="upload" class="video" type="submit">Отправить</button>
    </form>
    {% else %}
            <p class="unknown-attention">
                <strong>Зайдите в аккаунт!</strong>
            </p>
    {% endif %}
{% endblock %}