{% extends 'main/main.html' %}
{% load static %}
<link rel="script" href="{% static 'main/JS/Test.js' %}">

{% block content %}
    {% if messages %}
        {%  for message in messages %}
            <div class="alert-message" role="alert">
                <p class="error">
                {{ message }}
                </p>
            </div>
        {% endfor %}
    {% endif %}
    <div class="new-video">
    <h1 class="main-vid">!Новое для вас!</h1>
    <section class="video-column">
        <ul>
            {% for item in video %}
                <li class="vid-item">
                    <h3 class="name-vid">{{ item.title }}</h3>
                        <p class="vid">
                            <video
                            controls
                            width="1280"
                            height="768">
                                <source type="video/mp4" src={{ item.url_storage }}>
                            </video>
                        </p>
                        <div class="descript-vid">
                            <section class="grades">
                                <form action="{% url 'likes' item.id %}" method="POST">
                                    {% csrf_token %}
                                    <button id='like' class="reaction" type="submit"><img src="{% static 'main/img/like.png' %}" height="20" width="20" alt="like"></button> <span class="like-count">{{ item.likes }}</span>
                                </form>
                                <form action="{% url 'dislikes' item.id %}" method="POST">
                                    {% csrf_token %}
                                    <button id='dislike' class="reaction" type="submit"><img src="{% static 'main/img/dislike.png' %}" height="20" width="20" alt="dislike"></button> <span class="dislike-count">{{ item.dislike }}</span>
                                </form>
                            </section>
                            {% for author in authors.items %}
                                {% if author.0 == item.id %}
                                <strong class="author">Автор: {{ author.1 }}</strong>
                                {% endif %}
                            {% endfor %}
                            <br>
                            <span class="date">Опубликовано: {{ item.publish_date }}</span>
                        </div>
            </li>
        {% endfor %}
        </ul>
    </section>
    </div>
{% endblock %}