{% extends 'main/main.html' %}
{% load static %}

{% block content %}

    <h3 class="name-vid">{{ video.title }}</h3>
        <p class="vid-single">
            <video
            id="my-video"
            controls
            preload="auto"
            width="960"
            height="540">
                 <source type="video/mp4" src={{ video.url_storage }}>
            </video>
        </p>
    <div class="descript-vid">
        <section class="grades">
            <form action="{% url 'likes' video.id %}" method="POST">
                {% csrf_token %}
                <button id='like' class="reaction" type="submit" style=""><img src="{% static 'main/img/like.png' %}" height="20" width="20" alt="like"></button> <span class="like-count">{{ video.likes }}</span>
            </form>
            <form action="{% url 'dislikes' video.id %}" method="POST">
                {% csrf_token %}
                <button id='dislike' class="reaction" type="submit" style=""><img src="{% static 'main/img/dislike.png' %}" height="20" width="20" alt="dislike"></button> <span class="dislike-count">{{ video.dislike }}</span>
            </form>
        </section>
        <strong>Автор: {{ author }}</strong>
        <br>
        <span>Загружено: {{ video.publish_date }}</span>
    </div>
{% endblock %}